@import '../../utils/colors';

.game-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  
    .start-game {
      height: 3vh;
      color: $white;
      background-color: $mediumGrey;
      border-radius: 5px;
      margin-right: 10px;
      cursor: pointer;
    
      &:hover {
        background-color: $highGrey;
      }
    }
    
    .stop-game {
      height: 3vh;
      color: $white;
      background-color: $mediumGrey;
      border-radius: 5px;
      margin-right: 10px;
      cursor: pointer;
    
      &:hover {
        background-color: $highGrey;
      }
    }
    
    .reset-game {
      height: 3vh;
      color: $white;
      background-color: $mediumGrey;
      border-radius: 5px;
      cursor: pointer;
    
      &:hover {
        background-color: $highGrey;
      }
    }
}