@import '../../utils/colors';

/* Style individual cells (grid items) */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: $white;
    background-color: $mediumGrey;
    width: 100px;
    height: 100px;
    border: 2px solid $softGrey;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  
    &:hover {
      background-color: $highGrey;
    }
}

@media screen and (max-width: 400px) {
    .cell {
      width: 60px;
      height: 60px;
    }
  }