/* Reset some default browser styles */
body,
h1,
ul {
  margin: 0;
  padding: 0;
}

/* Center the game board on the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;

  h1 {
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}