/* Reset some default browser styles */
body,
h1,
ul {
  margin: 0;
  padding: 0;
}

/* Center the game board on the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;

  h1 {
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
  }
}

/* Style the game board */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: #333;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style individual cells (grid items) */
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fff;
  background-color: #444;
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #555;
  }
}

.turn {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  height: 300px;
  width: 320px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding-top: 50px;

  h2 {
    text-align: center;
  }
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  margin-bottom: 10px;
}

.winner .new-game {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;

  button {
    width: 100px;
    color: #fff;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #555;
    }
  }
}

.reset-game {
  display: block;
  margin: 0 auto;
  height: 3vh;
  color: #fff;
  background-color: #444;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    background-color: #555;
  }
}