@import '../../utils/colors';

/* Style the game board */
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: $softGrey;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px $dark;
}