@import '../../utils/colors';

.winner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: $dark;
  }
  
  .winner .text {
    height: 300px;
    width: 320px;
    color: $white;
    border: 2px solid $white;
    border-radius: 10px;
    padding-top: 50px;
  
    h2 {
      text-align: center;
    }
  }
  
  .winner .win {
    margin: 0 auto;
    width: fit-content;
    border: 2px solid $white;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .winner .new-game {
    margin: 0 auto;
    width: fit-content;
    border: 2px solid $white;
    border-radius: 10px;
  
    button {
      width: 100px;
      color: $white;
      background-color: $mediumGrey;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: $highGrey;
      }
    }
}

@media screen and (max-width: 400px) {  
    .winner .text {
      height: 300px;
      width: 200px;
    }
}